# Ignore everything by default
*

# Unignore this file
!.gitignore

# Unignore Plugins/Test.PluginTest
!Plugins/
!Plugins/Test.PluginTest/
!Plugins/Test.PluginTest/**

# Ignore build artifacts inside Test.PluginTest
Plugins/Test.PluginTest/.vs/
Plugins/Test.PluginTest/**/bin/
Plugins/Test.PluginTest/**/obj/
Plugins/Test.PluginTest/**/*.user

# Unignore Plugins/Navertica.ZlrOpportunity
!Plugins/Navertica.ZlrOpportunity/
!Plugins/Navertica.ZlrOpportunity/**

# Ignore build artifacts inside Navertica.ZlrOpportunity
Plugins/Navertica.ZlrOpportunity/**/bin/
Plugins/Navertica.ZlrOpportunity/**/obj/
Plugins/Navertica.ZlrOpportunity/**/*.user
